/GlobalErrorHandling-Start/.vs
/GlobalErrorHandling-Start/GlobalErrorHandling/bin
/GlobalErrorHandling-Start/GlobalErrorHandling/obj
/GlobalErrorHandling-Start/LoggerService/bin
/GlobalErrorHandling-Start/LoggerService/obj
