/GlobalErrorHandling-End/.vs
/GlobalErrorHandling-End/GlobalErrorHandling/obj
/GlobalErrorHandling-End/GlobalErrorHandling/bin
/GlobalErrorHandling-End/LoggerService/obj
/GlobalErrorHandling-End/LoggerService/bin
